* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  background-image: url(./images/Background.jpg);
}

main {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}

/* An id selector that changes the color of the header in the card */
#Header {
  color: #3c6e4b !important;
}

#brand {
  color: gray;
  font-size: 12px;
}
/* A class selector that changes the font to serif */
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
