/* A body tag selector that adds the background image to each page */
body {
  background-image: url(./images/Background.jpg);
}

/* A tag selector that adds space between the main element and the footer */
main {
  margin-bottom: 100px !important;
}

/* An id selector that changes the color of the header in the card */
#Header {
  color: #3c6e4b !important;
}

#brand {
  color: gray;
  font-size: 12px;
}
/* A class selector that changes the font to serif */
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
